/checkpoints*/
/.idea/
/atten_fusion_ffn/
/atten_fusion_ffn2/
/ffn/
/ffn2/
/freqffn2/
/freqffn2_before/
/preds/
/pretrained/
/bbb.onnx
/datasets/facades/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw
open-cd-main
doc/公式.md